<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Personne</h1>

<h2>exemple boucle</h2>

<div th:switch="${ personnes.size() }">
    <p th:case="0">La liste est vide</p>
    <p th:case="1">La liste contient 1 personne</p>
    <p th:case="*">La liste contient les personnes suivantes:</p>
</div>


<ul>
    <li th:each="p:${personnes}" th:text="${p.prenom} + ' ' + ${p.nom}"></li>
</ul>


<form method="POST" action="personnes">
    <label for="prenom">Prénom:</label><input type="text" name="prenom" id="prenom">
    <label for="nom">Nom:</label><input type="text" name="nom" id="nom">

    <input type="submit" value="Ajouter">
</form>

</body>
</html>